<section class="login flex justify-center">
    <div class="font-sans bg-cover">
        <div class="container mx-auto h-full flex flex-1 justify-center items-center">
            <div class="w-full max-w-lg">
              <div class="leading-loose">
                <form action="/register" method="POST" class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl">
                    <p class="text-dark font-medium text-center text-lg font-bold">Register</p>
                    <% if( messages.error ){ %>
                      <span class="text-red-500 text-sm"><%= messages.error %></span>
                      <% } %>
                      <div class="">
                        <label class="block mb-1 " for="name">Name</label>
                        <input vale="<%= messages.name %>" class="w-full px-5 py-1 text-gray-700 rounded border border-gray-400 bg-white" type="text" id="name" name="name" placeholder="Enter Your Name" aria-label="name" >
                      </div>
                      <div class="">
                        <label class="block mb-1 " for="email">E-mail</label>
                        <input value="<%= messages.email %>" class="w-full px-5 py-1 text-gray-700 rounded border border-gray-400 bg-white" type="email" id="email" name="email" placeholder="Enter Your e-mail" aria-label="email" >
                      </div>
                      <div class="mt-2">
                        <label class="block mb-1">Password</label>
                         <input class="w-full px-5 py-1 text-gray-700 border border-gray-400 rounded bg-white"
                          type="password" id="password" name="password" placeholder="Enter password" arial-label="password">
                      </div>
        
                      <div class="mt-4 items-center flex justify-between">
                        <button class="px-4 py-1 rounded-full btn-primary font-blod text-white"
                          type="submit">Register</button>
                        <a class="inline-block right-0 align-baseline font-bold text-sm text-500 text-red-400"
                          href="/login">Already have account?</a>
                      </div>        
                </form>
        
              </div>
            </div>
          </div>
        </div>
</section>